{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="">
            <h1 class="text-2xl font-bold text-center mt-10">
                <span class="bg-blue-500 rounded p-2">Welcome to the task app</span>
            </h1>
        <span></span>
        <br>
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="/lucky/number">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit"><span class="bg-blue-500 rounded p-2">login</span></button>
        </div>
    </form>
{% endblock %}
